<%- include('partials/header.ejs') %>
<style>
 
</style>
<div class="container"style="background-color: rgb(255, 255, 255); padding: 2.5rem;">
  <h1>All Users</h1>
  <form
        class="form-inline float-sm-right my-lg-0"
        action="/search"
        method="GET"
      >
        <input
          class="form-control mr-sm-2"
          type="search"
          name="term"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Search
        </button>
      </form> 
  <br />
  <p>
    Welcome
    <b class="text-success text-capitalize"
      ><% if (user) { %> <%= user.username %> <% } %></b
    >
    
  </p>
  <hr />
  
  
  <div class="card-columns">
    <!-- start of card -->
    <% users.forEach(user=>{%>
    
        <div class="card">
          <div class="card-body">
            <img src="<%= user.avatar %>" alt="??" name="current" class="img-fluid" style="height: 150px; width: 150px;" />
            <h4 class="card-title" style="min-height: 3rem; max-height: 3rem; max-width:90%"><%= user.username.charAt(0).toUpperCase() + user.username.slice(1) %></h4>
            <h6 class="card-subtitle mb-2 text-muted"><%= user.pronouns.charAt(0).toUpperCase() + user.pronouns.slice(1) %></h6>
            <p class="card-text" style="min-height: 4rem; max-height: 4rem; overflow: hidden;"><%= user.bio %></p>
            <p class="card-text mb-2 text-muted">See more</p>
            <a href="/profile/<%= user._id %> " class="stretched-link"></a>
          </div>
        </div>   
      
    <% }) %>

    <!-- end of card -->
  </div>
</div>

<%- include('partials/footer.ejs') %>


